html, body {color:#666;font-weight:350;}

/*=== FLAG ICON ===*/
.flag-icon {width:21px;height:16px;box-shadow:0px 0px 5px rgba(0,0,0,0.1);border:1px solid #dfdfdf;}

/*=== MISC ===*/
div.required > label:after {content:'*';color:#d9534f;margin-left:2px;}
.cursor-pointer {cursor:pointer;}
.horizontal-divider {border-top:solid 1px #b7e6ff;margin-bottom:15px;}

/*=== NAVBAR ===*/
.navbar-nav, .navbar-nav button, .navbar-nav .dropdown-menu {font-size:12px;}
.navbar-nav button {margin-top:2px;}

/*=== DATA VIEW ===*/
.detail-view th {width:20%;}

/*=== CONTAINER ===*/
/*=== FORM ===*/
.container {font-size:12px;}
.container input, .container textarea, .container button, .container select, .container .btn {font-size:12px;}
.container input[type='checkbox'] {margin-top:2px;}
.container input {padding: 4px 12px;}
.container .input-group-btn button {padding:8px 12px 7px 12px;}
.container .help-block {margin-top:2px;margin-bottom:0;}
.container .close {font-size:16px;}

/*=== SELECT2 ===*/
.select2-container, .select2-selection__rendered {font-size:12px;}
.select2-selection__choice {font-size:12px;padding:1px 6px !important;}
.select2-selection__choice__remove {font-size:12px !important;}
.select2-selection--single {padding-top:8px !important;}
.select2-selection__clear {line-height:14px !important;}

/*=== HEADING ===*/
h1, h2, h3, h4, h5 {margin-top:0;font-weight:bold;}
h1 {font-size:30px;}
h2 {font-size:24px;}
h3 {font-size:18px;}
h4 {font-size:16px;}
h5 {font-size:14px;}